<%-include('./partials/header.ejs')%>

<main class="listaOne">
  <section class="menuOne">
    <tr class="coluna-cadastro">
      <th class="coluna"><h3>ID</h3></th>
      <th class="coluna"><h3>NOME</h3></th>
      <th class="coluna"><h3>PRODUTO</h3></th>
    </tr>
  </section>

  <% produtosPet.forEach(produto => { %>
  <div>
    <section class="buttonOne">
      <div class="row">
        <div class="item"><h3><%= produto.id %></h3></div>
        <div class="item"><h3><%= produto.nome %></h3></div>
        <div class="item"><h3><%= produto.valor %></h3></div>
      </div>
      <span>
        <form action="/editar/<%=produto.id%>?_method=GET" method="get">
          <button type="submit"><span>Editar</span></button>
        </form>
      </span>

      <span class="item">
        <form action="/deletar/<%=produto.id%>?_method=DELETE" method="post">
          <button type="submit"><span>Deletar</span></button>
        </form>
      </span>
    </section>
  </div>
  <% }) %>
</main>

<%-include('./partials/footer.ejs')%>

<!-- express nomeProjeto --ejs -->
